DAS-Presentacion/Connected Services/ServicioLibros/ServicioLibros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLibros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63932/ServicioLibros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63932/ServicioLibros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63932/ServicioLibros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLibros_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_edit_InputMessage">
    <wsdl:part name="parameters" element="tns:edit" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:editResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_ObtenerLibroID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroID" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_ObtenerLibroID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibroIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_existe_InputMessage">
    <wsdl:part name="parameters" element="tns:existe" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:existeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_updateStateDisponilbe_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStateDisponilbe" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_updateStateDisponilbe_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStateDisponilbeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_ObtenerLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibros" />
  </wsdl:message>
  <wsdl:message name="IServicioLibros_ObtenerLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibrosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioLibros">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/add" message="tns:IServicioLibros_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/addResponse" message="tns:IServicioLibros_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/edit" message="tns:IServicioLibros_edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/editResponse" message="tns:IServicioLibros_edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/delete" message="tns:IServicioLibros_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/deleteResponse" message="tns:IServicioLibros_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibroID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/ObtenerLibroID" message="tns:IServicioLibros_ObtenerLibroID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/ObtenerLibroIDResponse" message="tns:IServicioLibros_ObtenerLibroID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/buscar" message="tns:IServicioLibros_buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/buscarResponse" message="tns:IServicioLibros_buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/existe" message="tns:IServicioLibros_existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/existeResponse" message="tns:IServicioLibros_existe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStateDisponilbe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/updateStateDisponilbe" message="tns:IServicioLibros_updateStateDisponilbe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/updateStateDisponilbeResponse" message="tns:IServicioLibros_updateStateDisponilbe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibros/ObtenerLibros" message="tns:IServicioLibros_ObtenerLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibros/ObtenerLibrosResponse" message="tns:IServicioLibros_ObtenerLibros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLibros" type="tns:IServicioLibros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edit">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibroID">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/ObtenerLibroID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existe">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStateDisponilbe">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/updateStateDisponilbe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerLibros">
      <soap:operation soapAction="http://tempuri.org/IServicioLibros/ObtenerLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLibros">
    <wsdl:port name="BasicHttpBinding_IServicioLibros" binding="tns:BasicHttpBinding_IServicioLibros">
      <soap:address location="http://localhost:63932/ServicioLibros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>