DAS-Presentacion/Connected Services/ServicioLibros/ServicioLibros2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAS_Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LibroEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTOR_LIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPONIBILIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITORIAL_LIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTANTERIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_EDI_LIB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_ING_SIS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FILA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_LIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_EDI_LIB" type="xs:int" />
      <xs:element minOccurs="0" name="TITULO_LIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_ING_LIBRO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibroEntidad" nillable="true" type="tns:LibroEntidad" />
  <xs:complexType name="ArrayOfLibroEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibroEntidad" nillable="true" type="tns:LibroEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibroEntidad" nillable="true" type="tns:ArrayOfLibroEntidad" />
</xs:schema>