DAS-Presentacion/Connected Services/ServicioDetalle/ServicioDetalle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63932/ServicioDetalle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q1:DetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="addResult" nillable="true" type="q2:DetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q3:DetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q4:DetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traerDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traerDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="traerDetalleResult" nillable="true" type="q5:DetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallePorPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallePorPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="detallePorPrestamoResult" nillable="true" type="q6:ArrayOfDetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="buscarResult" nillable="true" type="q7:ArrayOfDetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPendientesIdPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPendientesIdPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="buscarPendientesIdPrestamoResult" nillable="true" type="q8:ArrayOfDetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarByIdPrestamoAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prestamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarByIdPrestamoAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="buscarByIdPrestamoAllResult" nillable="true" type="q9:ArrayOfDetallePrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>