DAS-Presentacion/Connected Services/ServicioDetalle/ServicioDetalle2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAS_Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DetallePrestamoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESTADO_EJE_DET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_F_EJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_I_EJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_DEV_DET" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_DET" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LIBRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PRES" type="xs:int" />
      <xs:element minOccurs="0" name="OBS_DET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_REC_DET" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallePrestamoEntidad" nillable="true" type="tns:DetallePrestamoEntidad" />
  <xs:complexType name="ArrayOfDetallePrestamoEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetallePrestamoEntidad" nillable="true" type="tns:DetallePrestamoEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetallePrestamoEntidad" nillable="true" type="tns:ArrayOfDetallePrestamoEntidad" />
</xs:schema>