DAS-Presentacion/Connected Services/ServicioUsuario/ServicioUsuario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAS_Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CED_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRA_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_ING_SIS" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NOM_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEL_USU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_USU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioEntidad" nillable="true" type="tns:UsuarioEntidad" />
  <xs:complexType name="ArrayOfUsuarioEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioEntidad" nillable="true" type="tns:UsuarioEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioEntidad" nillable="true" type="tns:ArrayOfUsuarioEntidad" />
</xs:schema>