DAS-Presentacion/Connected Services/ServicioUsuario/ServicioUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63932/ServicioUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63932/ServicioUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63932/ServicioUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUsuario_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_edit_InputMessage">
    <wsdl:part name="parameters" element="tns:edit" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:editResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_obtenerUsuarioID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuarioID" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_obtenerUsuarioID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuarioIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_obtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_obtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUsuario">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/add" message="tns:IServicioUsuario_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/addResponse" message="tns:IServicioUsuario_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/edit" message="tns:IServicioUsuario_edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/editResponse" message="tns:IServicioUsuario_edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/delete" message="tns:IServicioUsuario_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/deleteResponse" message="tns:IServicioUsuario_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuarioID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/obtenerUsuarioID" message="tns:IServicioUsuario_obtenerUsuarioID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/obtenerUsuarioIDResponse" message="tns:IServicioUsuario_obtenerUsuarioID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/buscar" message="tns:IServicioUsuario_buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/buscarResponse" message="tns:IServicioUsuario_buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/login" message="tns:IServicioUsuario_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/loginResponse" message="tns:IServicioUsuario_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/obtenerUsuarios" message="tns:IServicioUsuario_obtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/obtenerUsuariosResponse" message="tns:IServicioUsuario_obtenerUsuarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUsuario" type="tns:IServicioUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edit">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuarioID">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/obtenerUsuarioID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/obtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUsuario">
    <wsdl:port name="BasicHttpBinding_IServicioUsuario" binding="tns:BasicHttpBinding_IServicioUsuario">
      <soap:address location="http://localhost:63932/ServicioUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>