DAS-Presentacion/Connected Services/ServicioPrestamo/ServicioPrestamo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63932/ServicioPrestamo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAS_Entidades" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q1:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="addResult" nillable="true" type="q2:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q3:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obj" nillable="true" type="q4:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPrestamoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPrestamoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obtenerPrestamoIDResult" nillable="true" type="q5:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendiente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="getPendienteResult" nillable="true" type="q6:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendientePersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendientePersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="getPendientePersonaResult" nillable="true" type="q7:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="buscarResult" nillable="true" type="q8:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="prestamo" nillable="true" type="q9:PrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="option" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="getByDateRangeResult" nillable="true" type="q10:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrestamos30">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrestamos30Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="getPrestamos30Result" nillable="true" type="q11:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPrestamos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPrestamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DAS_Entidades" minOccurs="0" name="obtenerPrestamosResult" nillable="true" type="q12:ArrayOfPrestamoEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>